.list_block{
    background-color: #FFFFFF;
    padding: 20px 0;
}


.lst_b{
    background-color: #FFFFFF;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lst_txts{
    display: flex;
    align-items: center;
}

.txt_lst{
    font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: #333333;
}

.sp_lst{
    color: rgb(200, 195, 195);
}

.txt_g{
padding: 37px 0 50px;
font-family: Poiret One;
font-weight: 400;
font-style: Regular;
font-size: 42px;
text-align: center;
text-transform: uppercase;
}

.lst_blockk{
    padding: 20px 0;

    display: flex;
    flex-direction: column;
}

.lst_top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 613px;
    margin-bottom: 54px;
}


.sl_bl{
    display: flex;
    align-items: center;
    gap: 3px;
}


.sl_itm{
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: #333333;
cursor: pointer;
}

.aarrw{
width: 20px;
height: 20px;
background-color: chartreuse;
}

.aarrw img{
    width: 100%;
    height: 100%;
}

.list_grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 85px;
}


.lst_left{
  background-color: greenyellow;
  width: 434px;
height: 286px;
border-radius: 30px;
}

.lst_left img{
  width: 100%;
  height: 100%;
}





.list_elm{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 30px;
}



.lst_rigth{
  display: flex;
  gap: 39px;
}


.lst_l1{
    display: flex;
    flex-direction: column;
}

.txt_lst2{
font-weight: 400;
font-style: Regular;
font-size: 26px;
color: #333333;
padding: 0 0 0;
}

.lst_star_block{
    display: flex;
    align-items: center;
    gap: 2px;
}


.ul_lst{
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;

   
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: #333333;
margin-top: 23px;
}


.spl{
    color: #A0A0A4;
}



.lst_menu{
    display: flex;
    align-items: center;
    gap: 32px;
}


.mnu{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.txt_lst3{
 font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color: #A0A0A4;
}

.txt_lst4{
font-weight: 500;
font-style: Medium;
font-size: 18px;
}

.lst_l2{
    display: flex;
    flex-direction: column;
}

.btn_lst{
border: none;
width: 140px;
height: 40px;
border-radius: 50px;

background: conic-gradient(from 180deg at 50% 50%, #8E2DBC 0deg, #FFC5BD 120deg, #DB7AE3 240deg, #0066CC 360deg);
backdrop-filter: blur(36px);
margin-bottom: 15px;
}


.lst_lnk{
text-decoration: none;
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 14px;
text-align: center;
color: #FFFFFF;
}

.btn_lst2{
border: none;
width: 139px;
height: 40px;
border-radius: 50px;
border: 2px solid #8E2DBC;
}


.lst_lnk2{
text-decoration: none;
font-family: Raleway;
font-weight: 500;
font-style: Medium;
font-size: 14px;
color: #333333;
}

.btn_lst3{
border: none;
width: 139px;
height: 29px;
border-radius: 50px;
background-color: #ECF4FD;
margin-top: 25px;
}

.lst_lnk3{
font-family: Raleway;
text-decoration: none;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: #333333;
}



@media(max-width: 1200px){
    .contaner{
        width: 900px;
    }


    .lst_top {
    align-items: center;
    gap: 400px;
    display: flex;
}



.list_elm {
    align-items: center;
    gap: 5px;
    display: flex;
}



.txt_lst2 {
    font-size: 22px;
}



.lst_left {
    width: 340px;
    height: 286px;
}


.list_elm {
    align-items: center;
    gap: 35px;
    display: flex;
}
}


@media(max-width: 992px){
    .contaner{
        width: 700px;
    }


    .lst_top {
    align-items: center;
    gap: 200px;
    display: flex;
}


.lst_left {
    width: 250px;
    height: 250px;
}


.lst_rigth {
    gap: 14px;
    display: flex;
}


.list_elm {
    align-items: center;
    gap: 15px;
    display: flex;
}
}


@media (max-width: 786px) {
    .contaner{
        width: 500px;
    }


    .lst_top {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


.btn{
    width: 290px;
}



.list_elm {
    align-items: center;
    gap: 15px;
    display: flex;
    flex-direction: column;
}



.lst_rigth {
    gap: 14px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.lst_l2 {
    display: flex;
}
}


@media(max-width: 576px){
    .contaner{
        width: 100%;
    }

    .txt_g{
        font-size: 40px;
    }
}

@media(max-width: 375px){
    .contaner{
        width: 100%;
    }

   .txt_g {
    font-size: 25px;
}
}